Basic Python

1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
p=s.split()
print(p)

2. Use .format() to print the following string.
Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
txt="The diameter of {} is {} kilometers".format("Earth",12742)
print (txt)

3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

**Numpy**

In [ ]:
import numpy as np

4.1 Create an array of 10 zeros?

4.2 Create an array of 10 fives?

In [ ]:
a=np.zeros(shape=10)

a

In [ ]:
b=np.full(shape=10,fill_value=5)
b

5. Create an array of all the even integers from 20 to 35

In [ ]:
np.arange(20,36,2)

6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
np.arange(9).reshape(3,3)

7. Concatenate a and b

In [ ]:
a = np.array([1, 2, 3])
 b = np.array([4, 5, 6])
 np.concatenate((a,b))

Pandas
8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd
pd.DataFrame(np.array([1,2,3,4,5,6]).reshape(3,2))

9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
pd.date_range(start='01/01/2023', end='10/02/2023')

10. Create 2D list to DataFrame

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
pd.DataFrame(lists)